include layouts/layoutBS

h2 #{title}

if products.length == 0
    h2 Sorry no current books
else
    h2 Current Books
    .container
        .row
            table.table.table-dark.col
                thead
                    tr
                        th Title
                        th Author
                        th Price
                tbody
                each b in products
                    tr
                        td= b.title
                        td= b.author
                        td= b.price