include layouts/mainLayout

.container
    h1.mt-4
    h1.mt-4 #{title}
    p Click the button to see our inventory
    form( method='get' action='showPhones')
        button( type='submit' class='btn btn-primary') Shop For Phones